<div class="dashboard-section d-flex align-items-center">
  <div class="container-fluid pt-5 pb-5 pb-sm-0">
    <div class="row justify-content-center">

      <div class="col-12 col-sm-10 col-md-6 col-lg-4 mb-5">
        <div class="blur dashboard-card py-3">
          <h1 class="saira-stencil-one-regular text-center text-white">Jobs</h1>
          <div class="card-body d-flex flex-column justify-content-between align-items-center py-5 border-top">
            <%= link_to new_admin_recent_job_path, class: "text-decoration-none link-opacity-75-hover link-light" do %>
              <div class="dashboard-card-link d-flex flex-column align-items-center">
                <i class="bi bi-house-add-fill"></i>
                <h4 class="saira-stencil-one-regular text-center">Create New</h4>
              </div>
            <% end %>
            <%= link_to admin_recent_jobs_path, class: "text-decoration-none link-opacity-75-hover link-light" do %>
              <div class="dashboard-card-link d-flex flex-column align-items-center">
                <i class="bi bi-houses-fill"></i>
                <h4 class="saira-stencil-one-regular text-center">View All</h4>
              </div>
            <% end %>
          </div>
        </div>
      </div>


      <div class="col-12 col-sm-10 col-md-6 col-lg-4">
        <div class="blur dashboard-card py-3">
          <h1 class="saira-stencil-one-regular text-center text-white">Testimonials</h1>
          <div class="card-body d-flex flex-column justify-content-between align-items-center py-5 border-top">
            <%= link_to new_admin_testimonial_path, class: "text-decoration-none link-opacity-75-hover link-light" do %>
              <div class="dashboard-card-link d-flex flex-column align-items-center">
                <i class="bi bi-person-fill-add"></i>
                <h4 class="saira-stencil-one-regular text-center">Create New</h4>
              </div>
            <% end %>
            <%= link_to admin_testimonials_path, class: "text-decoration-none link-opacity-75-hover link-light" do %>
              <div class="dashboard-card-link d-flex flex-column align-items-center">
                <i class="bi bi-people-fill"></i>
                <h4 class="saira-stencil-one-regular text-center">View All</h4>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
