<% content_for :title, "Editing testimonial" %>

<div class="dashboard-section d-flex align-items-center">
  <div class="container-fluid py-3">
    <div class="row">
      <aside class="col"></aside>

      <main class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 p-3 blur">
        <h1 class="saira-stencil-one-regular text-white">Editing Testimonial</h1>

        <%= render "form", testimonial: @testimonial, path: @path %>

        <br>

        <div class="text-light">
          <%= link_to "Back to testimonials", admin_testimonials_path, class: "link-light" %>
        </div>
      </main>
      <div class="col"></div>

    </div>
  </div>
</div>
