<p  class="text-center saira-stencil-one-regular text-warning text-shadow-light fs-4 my-3"><%= notice %></p>

<% content_for :title, "Testimonials" %>

<h1 class="rubik-dirt-regular display-3 text-center text-white">Testimonials</h1>

<div class="container-fluid">
  <div class="row justify-content-center">
    <% @testimonials.each do |testimonial| %>
      <%= render testimonial %>
    <% end %>
  </div>
</div>

<%= link_to new_admin_testimonial_path, class: "link-light link-opacity-75-hover text-shadow" do %>

  <i class="bi bi-person-fill-add fixed-icon-link"></i>

<% end %>

<%= link_to new_admin_testimonial_path, class: "link-light link-opacity-75-hover text-shadow" do %>

  <i class="bi bi-arrow-left-square fixed-icon-link-back"></i>

<% end %>
