<% content_for :title, "New testimonial" %>

<div class="dashboard-section d-flex align-items-center">
  <div class="container-fluid">
    <div class="row">
      <aside class="col"></aside>

      <main class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 col-xxl-3 p-3 blur">
        <h1 class="saira-stencil-one-regular text-white">New Testimonial</h1>

        <%= render "form", testimonial: @testimonial %>

        <br>

        <div class="text-light text-center">
          <%= link_to "Back to dashboard", admin_dashboard_path, class: "link-light" %> | 
          <%= link_to "Back to jobs", admin_testimonials_path, class: "link-light" %>
        </div>
      </main>
      <div class="col"></div>

    </div>
  </div>
</div>

