<!-- Testimonals -->
<section id="testimonials" class="py-5">
  <div class="container-fluid">
    <div class="container">
      <h1 class="display-3 rubik-dirt-regular text-center text-shadow text-white mb-5">
        Our clients say it best.
      </h1>
    </div>
    <div class="row justify-content-center">
      <div id="carouselTestimonials" class= "col col-md-10 carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active">
            <div class="container">
              <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <%= image_tag "https://i.pravatar.cc/200", class: "avatar" %>
                <div class="py-5 testimonial">
                  <figure class="text-center">
                    <blockquote class="blockquote">
                      <p class="card-text text-white">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam facilis eligendi itaque quos neque earum exercitationem veritatis voluptatem tenetur dolorem!
                      </p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      Monroe homeowner, <cite title="Source Title">John Doe</cite>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="container">
              <div class="d-flex flex-column align-items-center justify-content-center">
                <%= image_tag "https://i.pravatar.cc/200", class: "avatar" %>
                <div class="py-5 testimonial">
                  <figure class="text-center">
                    <blockquote class="blockquote">
                      <p class="card-text text-white">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam facilis eligendi itaque quos neque earum exercitationem veritatis voluptatem tenetur dolorem!
                      </p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      Monroe homeowner, <cite title="Source Title">John Doe</cite>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="container">
              <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <%= image_tag "https://i.pravatar.cc/200", class: "avatar" %>
                <div class="py-5 testimonial">
                  <figure class="text-center">
                    <blockquote class="blockquote">
                      <p class="card-text text-white">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam facilis eligendi itaque quos neque earum exercitationem veritatis voluptatem tenetur dolorem!
                      </p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      Monroe homeowner, <cite title="Source Title">John Doe</cite>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
    </div>
  </div>
</section>
