<div id="<%= dom_id recent_job %>">
  <div>
    <strong>Location:</strong>
    <%= recent_job.location %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= recent_job.description %>
  </div>

</div>
