<% content_for :title, "Editing recent job" %>


<div class="dashboard-section d-flex align-items-center">
  <div class="container-fluid">
    <div class="row py-3">
      <aside class="col"></aside>

      <main class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 col-xxl-3 p-3 blur">
        <h1 class="saira-stencil-one-regular text-white">Edit Job</h1>

        <%= render "form", recent_job: @recent_job, path: @path %>

        <br>

        <div>
          <%= link_to "Back to jobs", admin_recent_jobs_path, class: "link-light" %>
        </div>
      </main>
      <div class="col"></div>

    </div>
  </div>
</div>

