<p style="color: green"><%= notice %></p>

<% content_for :title, "Recent jobs" %>

<h1 class="rubik-dirt-regular text-white text-shadow-light text-center display-3">Recent jobs</h1>

<div class="container-fluid">
  <div class="row justify-content-center py-3">
      <% @recent_jobs.each do |recent_job| %>
        <%= render recent_job %>
      <% end %>
  </div>
</div>

<%= link_to new_admin_recent_job_path, class: "link-light link-opacity-75-hover text-shadow" do %>

  <i class="bi bi-house-add-fill fixed-icon-link"></i>

<% end %>

