<% content_for :background_image do %>
  <div class="home-bg"></div>
<% end %>
<!-- Home Hero -->
<header>
  <div class="container-fluid">
    <div class="row">

      <aside class="col"></aside>

      <main class="col-12 col-lg-10 col-xl-8 col-xxl-6">
        <div class="container">
          <div class="d-flex align-items-center hero-section">
            <p class="display-1 rubik-dirt-regular m-0" style="text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);">
              <span class="text-white">Got a tough job?</span> Let us chop it down to size.
          <%= link_to "Call Now",
            pages_path,
            class: "cta-btn btn text-nowrap btn-warning fs-5 ms-3 btn-sm-lg mb-1 shadow saira-stencil-one-regular", style: "text-shadow: none;" %>
            </p>
          </div>
        </div>
      </main>

      <aside class="col"></aside>

    </div>
  </div>
</header>

<section id="services">
  <div class="container-fluid content-section">
    <div class="row py-3">

      <div class="container col-12 col-sm-4 mb-3">
        <div class="bg-transparent clear-dark-blur d-flex flex-column align-items-center">
          <img src="https://placehold.co/400" alt="" class="card-image w-75 shadow mb-2">
          <div class="card-body text-center">
            <h3 class="card-title saira-stencil-one-regular">Service One</h3>
            <p class="card-text saira-stencil-one-regular">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consequatur odit ipsum recusandae quis temporibus.
            </p>
          </div>
        </div>
      </div>

      <div class="container col-12 col-sm-4 mb-3">
        <div class="bg-transparent clear-dark-blur d-flex flex-column align-items-center">
          <img src="https://placehold.co/400" alt="" class="card-image w-75 mb-2">
          <div class="card-body text-center">
            <h3 class="card-title saira-stencil-one-regular">Service Two</h3>
            <p class="card-text saira-stencil-one-regular">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consequatur odit ipsum recusandae quis temporibus.
            </p>
          </div>
        </div>
      </div>

      <div class="container col-12 col-sm-4 mb-3">
        <div class="bg-transparent clear-dark-blur d-flex flex-column align-items-center">
          <img src="https://placehold.co/400" alt="" class="card-image w-75 mb-2">
          <div class="card-body text-center">
            <h3 class="card-title saira-stencil-one-regular">Service Three</h3>
            <p class="card-text saira-stencil-one-regular">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consequatur odit ipsum recusandae quis temporibus.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="about" class="content-section">
  <div class="container-fluid py-5">
    <div class="row blur py-3 justify-content-center">

      <div class="col-12 col-sm-5 col-md-4 col-xl-3">
        <%= image_tag "about-us.jpg", class: "img-fluid" %>
      </div>

      <div class="col-12 col-sm-6 col-xl-4 d-flex align-items-center">
        <div class="container">
          <h1 class="display-3 rubik-dirt-regular text-white">Work done right.</h1>
          <p class="saira-stencil-one-regular text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi repudiandae error nobis distinctio. Ea eligendi consequatur non laborum repudiandae repellat. Nobis harum autem delectus voluptatibus.</p>
          <div class="container d-flex justify-content-end pe-5">
            <%= link_to "Read More",
              pages_path,
              class: "cta-btn btn text-nowrap btn-warning pt-2 btn-sm-lg shadow saira-stencil-one-regular", style: "text-shadow: none;" %>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
