<nav class="navbar navbar-expand-md blur bkg-charcoal navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand saira-stencil-one-regular" href="<%= admin_dashboard_path %>">
      <%= image_tag "axe-logo-sm.png", size: "45" %>
      <em>The Axe Man</em> <small class="opacity-50">Admin</small>
    </a>
    <% if authenticated? %>
      <%= button_to "Sign Out", session_path, class: "ms-auto btn btn-danger cta-btn saira-stencil-one-regular" %>
    <% end %>
  </div>
</nav>
