<div class="container-fluid blur bkg-charcoal mt-auto">
  <div class="container d-flex justify-content-center py-1">
    <span class="text-center text-white">
      <%= link_to "Go to public site", home_path, class: "link-light rubik-dirt-regular" %>
    </span>
  </div>
</div>
