<div class="container-fluid blur mt-auto pb-2">
  <div class="container d-flex flex-column align-items-center justify-content-center pt-3 pb-3 pb-sm-5">
    <span class="text-center text-white saira-stencil-one-regular"><small>&copy The Axe Man 2026</small></span>
  </div>
  <div class="container p-0">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="d-flex justify-content-center">
          <%= image_tag "axe-logo-lg.png", size: "150", class: "img-fluid mb-3" %>
        </div>
      </div>
      <div class="col col-lg-4">
          <div class="d-flex align-items-center justify-content-center gap-3 py-3">
            <p class="saira-stencil-one-regular text-light m-0">Follow us: </p>
              <a href="https://facebook.com/TheAxeManUSA">
                <i class="bi bi-facebook text-light fs-2"></i>
              </a>
          </div>

          <div class="d-flex justify-content-center gap-4 pt-2 pb-4">
            <a href="/home" class="link-light">Home</a>
            <a href="/about" class="link-light">About</a>
            <a href="/services" class="link-light">Services</a>
            <a href="/work" class="link-light">Work</a>
          </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="d-flex justify-content-center flex-column align-items-center">
          <ul class="text-light list-unstyled border-top border-bottom py-3">
            <p class="text-light my-2">Contact Us</p>
            <li class="mb-1 saira-stencil-one-regular">Phone: <a href=tel:+17344507995" class="link-light">1 734 450-7995</a></li>
            <li class="mb-1 saira-stencil-one-regular">
              Email: <em>theaxeman2024@gmail.com</em>
            </li>
          </ul>
        </div>
      </div>
    </div>
          <div class="pt-3">
            <p class="saira-stencil-one-regular text-center text-light">
            <small>Designed and Developed - Clint Zold, <em>Zold Digital Solutions</em></small>
            </p>
          </div>
  </div>
</div>
