<div class="container-fluid bg-dark mt-auto">
  <div class="container d-flex justify-content-center">
    <span class="text-center text-white"><small>&copy The Axe Man 2026</small></span>
  </div>
</div>
