<div class="container-fluid blur bkg-charcoal mt-auto">
  <div class="container d-flex justify-content-center py-1">
    <span class="text-center text-white"><small>&copy The Axe Man 2026</small></span>
  </div>
</div>
