<div class="container-fluid blur mt-auto py-2">
  <div class="container d-flex flex-column align-items-center justify-content-center py-3 border-top">
    <span class="text-center text-white saira-stencil-one-regular"><small>&copy The Axe Man 2026</small></span>
  </div>
  <div class="container">
    <div class="row flex-wrap-reverse">
      <div class="col pt-5">
        <div class="d-flex justify-content-center flex-column align-items-center">
          <ul class="text-light list-unstyled">
            <p class="text-light my-2">Navigation Links</p>
            <li class="mb-1"><a href="/home" class="link-light">Home</a></li>
            <li class="mb-1"><a href="/about" class="link-light">About</a></li>
            <li class="mb-1"><a href="/services" class="link-light">Services</a></li>
            <li><a href="/work" class="link-light">Work</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12  col-sm-6">
        <div class="d-flex justify-content-center flex-column align-items-center">
          <div class="d-flex align-items-center justify-content-center gap-3">
            <p class="saira-stencil-one-regular text-light">Follow us: </p>
            <p>
              <a href="https://facebook.com/TheAxeManUSA">
                <i class="bi bi-facebook text-light fs-2"></i>
              </a>
            </p>
          </div>
          <ul class="text-light list-unstyled border-top border-bottom py-3">
            <p class="text-light my-2">Contact Us</p>
            <li class="mb-1 saira-stencil-one-regular">Phone: <a href=tel:+17344507995" class="link-light">1 734 450-7995</a></li>
            <li class="mb-1 saira-stencil-one-regular">
              Email: <em>theaxeman2024@gmail.com</em>
            </li>
          </ul>
        </div>
      </div>
    </div>
          <div class="pt-5">
            <p class="saira-stencil-one-regular text-center text-light">
            <small>Designed and Developed - Clint Zold, <em>Zold Digital Solutions</em></small>
            </p>
          </div>
  </div>
</div>
