<nav class="navbar navbar-expand-md blur bkg-charcoal navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand saira-stencil-one-regular" href="#">
      <%= image_tag "axe-logo-transparent.png", size: "25" %>
      <em>The Axe Man</em>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
      </div>
    </div>
  </div>
</nav>
